@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');



:root {
    --taupe: #463f3aff;
    --battleship-gray: #8a817cff;
    --silver: #bcb8b1ff;
    --isabelline: #f4f3eeff;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 600;
    --font-bold: 900;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-regular);
    background-color: var(--isabelline);
    box-sizing: border-box;
}

h2 {
    font-size: 25px;
    color: var(--taupe);
    font-weight: var(--font-bold);
}

h3 {
    font-size: 20px;
    font-weight: var(--font-medium);
}


p {
    font-size: 16px;
}

label {
    font-size: 16px;
    color: var(--taupe);
    font-weight: var(--font-medium);
}

section {
    margin: 20px;
    margin-top: 35px;
    box-sizing: border-box;
}
main{
  flex-grow: 1; 
  width: 100%;
}

/* --------------- Header --------------- */

header{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin: 0;
    width: 100%;
}

header p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 40px 0px 16px 0px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--taupe);
    color: var(--isabelline); 
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 16px 20px;
    max-width: 100% ;
    background-color: var(--isabellineilver);
    box-shadow: 4px 4px 1px var(--taupe);
    color: var(--taupe);
    border-bottom: 2px solid var(--taupe);
    font-size: 20px;
    font-weight: var(--font-medium);
}

/* --------------- Crear cuenta/LogIn --------------- */

#registrar,
#login {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4px 4px;
    background-color: var(--isabelline);
    border: 1px solid var(--taupe);
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.3s ease
}

#registro {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

#registro p {
    font-size: 20px;
    font-weight: var(--font-medium);

}

.registroUsuario,
.loginUser {
    display: flex;
    flex-direction:column;
    gap: 8px;
    padding: 16px;
    border: 2px solid var(--taupe);
    border-radius: 16px;
    box-shadow: 2px 2px 1px var(--taupe);
    margin-top: 8px;
}

.registroUsuario input,
.loginUser input {
    padding: 6px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    font-size: 16px; 
}

.botonCrear,
.botonEnviar {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 4px 4px;
    background-color: var(--isabelline);
    border: 1px solid var(--taupe);
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.3s ease

}

#botonCrear:hover,
#botonEnviar:hover {
    background-color: var(--taupe);
    color: var(--isabelline);
}

#botonCrear:active,
#botonEnviar:active {
    background-color: var(--taupe);
    color: var(--isabelline);
    box-shadow: inset 2px 2px 10px black;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    background-color: var(--taupe);
    border-radius: 16px;
    gap: 8px;
    color: var(--isabelline);
    

}

#botonLogOut {
     display: flex;
    justify-content: center;
    width: 120px;
    padding: 4px 4px;
    background-color: var(--taupe);
    color: var(--isabelline);
    border: 1px solid var(--isabelline);
    box-shadow: 4px 4px 1px var(--isabelline);
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.3s ease
}

#botonLogOut:hover {
    background-color: var(--isabelline);
    color: var(--taupe);
    border: 1px solid var(--taupe);
}

#botonLogOut:active {
    background-color: var(--isabelline);
    color: var(--taupe);
    box-shadow: inset 2px 2px 10px black;
    border: 1px solid var(--isabelline);

}

/* --------------- Mapa 1 --------------- */

/* --------------- Leyenda --------------- */

.leyenda {
  margin-top: 4px;
  padding: 12px 16px;
  background-color: var(--isabelline);
  border: 2px solid var(--taupe);
  border-radius: 12px;
  box-shadow: 2px 2px 1px var(--taupe);
  width: 90%;
  max-width: 1000px;
  color: var(--taupe);
}

.leyenda h3 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: var(--font-medium);
}

.leyenda ul {
display: flex;
flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 4px;
  margin: 0;
  font-size: 16px;
}

.leyenda li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.leyenda span {
  width: 15px;
  height: 15px;
  border-radius: 60px;
  border: 1px solid var(--taupe);
  display: inline-block;
}
.botones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
#allTerremotos,
#favTerremotos {
    display: flex;
    justify-content: center;
    width: 170px;
    padding: 4px 4px;
    background-color: var(--isabelline);
    border: 1px solid var(--taupe);
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease

}

#allTerremotos:hover,
#favTerremotos:hover {
    background-color: var(--taupe);
    color: var(--isabelline);
}

#allTerremotos:active,
#favTerremotos:active {
    background-color: var(--taupe);
    color: var(--isabelline);
    box-shadow: inset 2px 2px 10px black;
}


#mapaUno {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#mapaUno article{
    display: flex;    
    flex-direction: column;                  
    flex-wrap: wrap;
    gap: 20px;
}

#map { 
    display: flex;
    width: 100%;
    height:500px;
    border-radius: 16px;
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 16px;
    border: 2px solid var(--taupe);
}

.informacion p {
    display: flex;
    max-width: 100% ;
    padding: 16px;
    border: 2px solid var(--taupe);
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 16px;
}

/* --------------- Mapa 2 --------------- */

#mapaDos article{
    display: flex;                      
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 20px;
}

#mapTwo { 
    display: flex;
    width: 1000px;
    height:500px;
    border-radius: 16px;
    background-color: var(--silver);
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 16px;
    border: 2px solid var(--taupe);
}


/* --------------- Filtro magnitud --------------- */
.filtroMagnitud {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#filtroMag {
    display: flex;
    padding: 6px;
    width: 390px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    font-size: 16px;
}


/* --------------- Filtro fechas --------------- */

.filtroPorFechas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#filtroFecha {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 6px;
}

.comienzo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.final {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.startToEnd {
    display: flex;
    gap: 8px;
}

#filtroFecha label {
    font-weight: var(--font-regular);
}

#filtroFecha input {
    display: flex;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid var(--silver);
    font-size: 16px;
}

.botonFecha {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 4px 4px;
    background-color: var(--isabelline);
    border: 1px solid var(--taupe);
    box-shadow: 4px 4px 1px var(--taupe);
    border-radius: 8px;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.3s ease


}

.botonFecha:hover {
    background-color: var(--taupe);
    color: var(--isabelline);
}

.botonFecha:active {
    background-color: var(--taupe);
    color: var(--isabelline);
    box-shadow: inset 2px 2px 10px black;
}




/* MEDIDAS ORDENADOR */
/* Estilos para ordenador */
@media screen and (min-width: 1025px) {

    h2 {
        font-size: 30px;
        color: var(--taupe);
        font-weight: var(--font-bold);
    }
    section {
        margin: 32px;
        margin-top: 35px;
        box-sizing: border-box;
    }
    header {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        flex-direction: column; /* apila p y nav verticalmente */
        align-items: center;
    }

    header p {
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding: 8px;
        max-width: 350px;
        margin: 0 auto;
        background-color: var(--taupe);
        color: var(--isabelline);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    nav ul {
        display: flex;
        padding: 16px 24px;
        justify-content: space-between;
        width: 800px;
        background-color: var(--isabelline);
        box-shadow: 4px 4px 1px var(--taupe);
        color: var(--taupe);
        border-radius: 8px;
        border: 2px solid var(--taupe);
        font-size: 24px;
        font-weight: var(--font-medium);
  }

}

